<!-- 팝업 : 우편번호 찾기 -->
<div class="popup pop-post" id="pop-post" tabindex="0" role="dialog">
    <div class="pop-header"></div>
    <div class="pop-con">
        <h3><span>우편번호 찾기</span></h3>
        <div id="searchPostCode"></div>
    </div>
    <button type="button" class="btn-close" onclick="closePop('post'); openPop('entry'); return false;"><span>팝업 닫기</span></button>
</div>