<!-- 팝업 : 참여 유의사항 -->
<div class="popup pop-notice" id="pop-notice" tabindex="0" role="dialog">
    <div class="pop-header">
        <h3>이벤트 유의사항</h3>
    </div>
    <div class="pop-con">
        <div><img src="~/Images/KittyJusticeLeague/pop/notice-txt.png" alt="이벤트 유의사항"></div>
    </div>
    <button type="button" class="btn-close" onclick="closePop('notice'); return false;"><span>팝업 닫기</span></button>
</div>